[2018-05-08 21:32] loganek opened #2 "hawktracer-to-json generates timestamps in incorrect unit"
Chrome tracing format expects timestamps and durations to be in microseconds, but hawktracer-to-json outputs data in nanoseconds. hawktracer-to-json should convert timestamps and durations to microseconds before saving it to json file.

[2018-05-09 20:30] loganek opened #4 "Add Windows CI build"
Currently we have a travis-ci build definition for Linux and OSX operating system. We should add Windows build as well (e.g. AppVeyor)

[2018-05-09 21:41] loganek opened #5 "Add feature for measuring duration of arbitrary code"
Currently we have a scoped tracepoint, which allows us to measure an time of executing the code:
[code]
Unfortunately we can't measure time of code which is overlapping; e.g. we can't measure time for code1+code2 and code2+code3 at the same time using the same timeline:
[code]
We should design and implement timeline feature, which would allow us to measure time of any code; something like:
[code]

[2018-05-09 21:50] loganek opened #6 "Visualize benchmark results"
Benchmarks generate nice JSON output; we could setup some service (e.g. elasticsearch) where we we upload the file, it's automatically processed and add records to the database, which then is queried to visualize performance results. We could use this results as a check for new pull requests as well.

Example benchmark output below:
[code]

[2018-05-12 07:56] andrewrch opened #11 "Example doesn't build"
Since it includes hawktracer.h, which requires config.h, the example doesn't build as config.h is installed to the lib/include directory.

[2018-05-13 10:31] loganek commented on #11
Thanks @andrewrch for the report. Could you post here your configuration and build commands? The example should compile, as for hawktracer target we define following include directories:
[code]
Where `HAWKTRACER_INCLUDE_DIRS` is set to `"${CMAKE_CURRENT_SOURCE_DIR}/include" "${CMAKE_CURRENT_BINARY_DIR}/include"`

[2018-05-13 16:02] brunogouveia opened #15 "Add unit tests to client target"
Currently we don't have unit tests for the client (aka, hawktracer-to-json).

We should add unit tests, specially to avoid regression in fixes we have done already (e.g, issue #2).

[2018-05-14 11:25] andrewrch commented on #11
You're right, I removed the build dir and started from scratch and it works fine. Thanks

[2018-05-14 11:25] #11 closed

[2018-05-14 17:24] loganek opened #16 "Add support for platforms with different endianness"
HawkTracer requires to run client and profiling application on platforms with the same endianness.
We should support different endiannness in the protocol. Probably we could define a `SystemInfo` event which contains information about endianness (and in the future, some other information as well).
I.e.
[code]
We should also have an easy way to push this event to a timeline.

[2018-05-15 23:54] loganek opened #18 "Remove HT_API macros"
`HT_API` macros are used for MSVC build, where we either `dllexport`, or `dllimport` functions. However, if we use module-definition files (.def), those macros are not needed any more. We can also restore simultaneous static and dll build for the library.

[2018-05-16 09:26] mapaaa opened #19 "[feature/viewer] EventDB is not thread safe"
Insert into the database and getting data from it happen in two different threads. The UI might be requesting data while the UIController hasn't finished inserting.

[2018-05-16 09:31] andrewrch commented on #5
I'm going to look in to this later today 👍

[2018-05-16 21:30] #4 closed

[2018-05-16 21:38] loganek opened #20 "Add memory usage monitor"
We already have CPU usage monitor for Linux, I think it would be useful to have resident memory usage tracker as well.

[2018-05-22 00:27] AlexEne opened #22 "Multithreaded tracepoints with the same name seem broken in chrome tracing"
This is how the program output looks like:
![parallel_trace](https://user-images.githubusercontent.com/5849037/40336065-20db29de-5d5f-11e8-9615-89b1e97b91ae.PNG)

[hawktracer_demo.zip](https://github.com/amzn/hawktracer/files/2024482/hawktracer_demo.zip)

I tested it with the following program:

Cargo.toml
[code]

main.rs:
[code]

[2018-05-22 00:44] loganek commented on #22
Hi @AlexEne
Thank you very much for the report. I was actually able to reproduce it in C++:
[code]
I'll investigate the problem.

[2018-05-23 21:57] loganek opened #24 "Add cpu usage monitor for Windows platform"
We already have `cpu_usage` feature for linux-based platforms. Would be nice to implement the interface for windows as well, so the user experience is similar across all supported platforms

[2018-05-23 21:59] loganek commented on #2
Thank you @brunogouveia :)

[2018-05-23 21:59] #2 closed

[2018-05-23 22:00] loganek commented on #5
Hey @andrewrch any progress on that issue? :)

[2018-05-23 22:05] loganek opened #25 "Update `contribution` page"
The page should describe how can new developers contribute to HawkTracer, how to reach the community etc. The page is empty for now: https://amzn.github.io/hawktracer/contributing.html

[2018-05-23 22:06] loganek opened #26 "Update documentation about listeners"
Listeners is quite simple concept, but should be explained in the `Core concepts` section and we should also have a tutorial which shows step by step how to create new listener.

[2018-05-23 23:12] loganek opened #27 "Publish build artifacts"
Currently users have to manually build all the libraries and executables. We should publish installers/rpm/deb packages so they can easily download it and install on their system.

[2018-05-24 17:55] andrewrch commented on #5
Hey 😊 I made a start on it on the train back on Tuesday. Started with the implementation of feature_callstack and worked from there. Getting some issues at the moment accessing events I put in a bag. Will spend a bit more time on it tonight/tomorrow and let you know if I need a hand.

[2018-05-24 19:18] loganek commented on #5
Thanks for the update :) No rush, just wanted to know if you had a chance to look into this and if there's anything I could help you with.

[2018-05-27 14:56] loganek opened #30 "Add integration tests for parser & library"
We only have unit tests for both - parser and library, but we currently don't have any automation tests for checking if they both work together. Would be great to have integration tests to check if there are no issues with parsing a stream produced by the library.

[2018-05-27 16:07] loganek commented on #25
Done

[2018-05-27 16:07] #25 closed

[2018-08-26 16:04] loganek opened #37 "TCP listener should use select() for waiting for a new client"
Currently in TCPListener we use accept() function to accept new connections. However, this function is blocking, and can't be interrupted, therefore test ApplicationShouldNotCrashWhenCreatingListenerFails hangs on mac os. If we rewrite tcp listener so it uses multiplexers (select()) we can use pipes to unblock the thread.

[2018-09-08 13:44] AlexEne opened #38 "Windows releases improvements"
There are a few things that can be improved with the windows releases:
- [x] Allow setting PATH variable in the installer
- [x] ~~Changing the installer folder since now it is ```HawkTracer 0.6.0```, this makes updating strange.~~ Not needed since I added uninstall option.
- [x] Releasing a binaries in addition to the installer version.

[2018-11-16 15:57] AlexEne commented on #38
This is solved now.

[2018-11-16 15:57] #38 closed

[2019-02-04 13:20] drewm1980 opened #46 "Tracing mixed Python / C++ code?"
Has anyone written an integration for tracing python code? If so, do you have a reference?

Greetings from Belgium, by the way; I'm the American guy who asked you a couple questions at FOSDEM.

Cheers,
Andrew

[2019-02-04 22:39] loganek commented on #46
Hi @drewm1980 I'm glad you consider using HawkTracer :) I've never written a code for tracing python, and I haven't heard of anybody who did that. I also didn't have plan to do this in the nearest future. However, since there's a potential use of that, I'm very happy to implement that functionality, or at least assist you with doing that.
I'd need some more input first, so we can have a proper des

[2019-02-06 10:46] drewm1980 commented on #46
We're writing soft real-time software for robotic pick and place machines, with cycle times usually 100-200 ms. We'd like to see visually when operations are taking longer than we expect, threads are contending, cpu is idle while waiting for the GPU, etc... in the name of reducing worst case latency for analyzing one frame of data. Python is our glue language and calls into C++ code we wrote, and

[2019-02-06 22:03] loganek commented on #46
Hi @drewm1980 thanks for the explanation. So it looks like you're basically interested in low-overhead intrusive function-level time profiling for more than just the native stack - that's what HawkTracer was designed for, as our usecase was very similar, but except python, we had lua/javascript.

I'm very happy to work with you getting python bindings to work in HawkTracer.

I see three possible s

[2019-02-11 10:07] drewm1980 commented on #46
I'm not sure what the most ergonomic or efficient API for python is... function decorators are likely the pythonic way to do it. The interpreter already has some mechanism for instrumenting at the function level, though, through cProfile. If there's a way of setting up hawktrace hooks for specific functions at module import time, I bet it would be more efficient than having python function decorat

[2019-02-11 13:28] loganek commented on #46
Then how about we implement a decorator, something like:
[code]
Then whenever you want to instrument your function, you can do so:
[code]
?
You can control whether the attribute is enabled or disabled through env variable. Also, you can decide which function you want to trace, as you need to manually instrument your code.

[2019-02-13 17:53] drewm1980 commented on #46
Hi, I think it's better to do the os.environ check outside of the wrapper, and if false, just return the function unmodified (I believe the decorator is evaluated when the interpreter hits the "@"). Otherwise you're adding control flow and environment variable checks even when instrumentation is supposed to be turned off. How about:

in hawktracer.py:
[code]

in user code:
[code]
The above code ha

[2019-02-14 09:39] loganek commented on #46
Hi @drewm1980 Thanks a lot for suggestions. I'm aware the code I wrote is not ideal, but the main thing I wanted to point out is the end-user experience. So I assume we both agree that the api should be:
[code]

Not sure about the function names/namespaces yet, but more or less it'll be something like above. If you agree with that design, I'll prototype it over the weekend. If the implementation i

[2019-02-15 10:09] drewm1980 commented on #46
I'm likewise unsure about what people end up really needing in practice, i.e. if they're more concerned about being able to enable/disable tracing:

0. globally across python (at import time) and native(at compile time)
1. globally at import time within python
2. at import time for groups of functions (or modules?)
3. at function call time for functions (or modules?)

Each project probably will ha

[2019-02-15 10:48] loganek commented on #46
hi @drewm1980
Right now there's no usecase at Amazon. However, we have very similar situation for JavaScript and LUA. I don't see much difference between my proposal and yours - they both require instrumenting the function you want to trace, and they both do it through annotations, i.e.:
[code]
The way it's going to be implemented is not that important for me right now - it's easy to change the im

[2019-02-15 13:28] drewm1980 commented on #46
I of course have no objection!

I have a point to make RE the implementation affecting the API, but I found it easier to write the code than to explain it clearly. I'll fork and create a pull request.

[2019-02-15 13:42] drewm1980 commented on #46
Here's the pull request:

https://github.com/amzn/hawktracer/pull/47

No offense if you don't want to pull for whatever reason; cutting and pasting here was just getting clunky.

[2019-02-15 15:10] loganek commented on #46
Hi @drewm1980 your proposal looks good. I have a few improvements though that would allow us to do 3 as well. I changed the `_trace_` function:
[code]
so it checks in the wrapper if tracing is enabled - it's only an overhead (one `if` statement) if function was instrumented (i.e. decorators were enabled), and it's just one condition, which is not significant compared to other hawktracer stuff.

I

[2019-02-18 09:32] loganek commented on #46
Hi @drewm1980 I've done a prototype over the weekend on my personal github account. Please have a look and let me know what do you think about it.
Here is example usage: https://github.com/loganek/hawktracer/blob/python-lib-bindings/bindings/python3/instrumentation-example.py
And here's the implementation: https://github.com/loganek/hawktracer/blob/python-lib-bindings/bindings/python3/hawktracer_c

[2019-02-18 17:55] drewm1980 commented on #46
Hi @loganek Very cool! So it looks like for the decorator disabling code you're doing what my python code was doing, but ported to C:

[code]
Does having the state for whether the decorator is enabled in C mean that users can do `import HawkTracer.Core.trace as trace` and then just do `@trace` and have decorator disabling still work?

[code]

I'm studying how you're caching the function names... I

[2019-02-18 19:13] loganek commented on #46
Hi @drewm1980

Yes, it's exactly like that, with a few little improvements.

Yes, I've tested various scenarios, but feel free to double-check.

In general I don't see any problem with using the same map entry for 2 different functions - as long as the name is correct, it's fine. But as far as I understand, you suggest to not use `__name__` property as it might be confusing for the user? If so, wh

[2019-02-19 10:28] drewm1980 commented on #46
cool! When I showed your example code to another developer, his initial impression was "I have to do all this stuff?". Of course it's not, but it would probably be good for adoption to have a minimal_example.py file that just traces one function without showing off any other optional features.

You can disregard that comment for now; we'll let you know if it's an issue in practice. If the user ann

[2019-02-19 10:35] loganek commented on #46
Yeah, the minimalistic example would be:
[code]
and run the program with `HT_PYTHON_TRACE_ENABLED` set. I'll create another, simplified example.

Sure, let me know if you have any real issues, so we can work to fix it.

I think I'll merge my changes soon. I want to re-review it and fix potential problems. After that, I'll close the issue. Feel free to open another one, if you find some bugs or you

[2019-02-19 10:51] drewm1980 commented on #46
This is bikeshedding, but IMHO it's prettier as:

Doesn't it still need an init function call? Or is that already handled in the import? If so, nice!

Also bikeshedding, but python has a convention for package and module name capitalization:

From PEP 8: Package and Module Names Modules should have short, all-lowercase names. Underscores can be used in the module name if it improves readability. P

[2019-02-19 11:19] loganek commented on #46
Sure, agree.

It's not upstream yet, but I have that change locally.

Good to know, will rename it to `hawk_tracer.core` then

[2019-02-28 09:13] loganek commented on #46
Hey @drewm1980 I finished the code and opened a PR https://github.com/amzn/hawktracer/pull/48 . Please review, any suggestion is very appreciated :)

[2019-03-17 13:57] loganek commented on #46
PR #48 has been merged, closing the issue. Feel free to open a new one in case there's some missing functionality.

[2019-03-17 13:57] #46 closed

[2019-07-04 07:43] loganek opened #50 "Remove Features from registry"
Registry doesn't have to keep track on the features, as they're only required within a timeline. I'd propose changing `ht_timeline_set_feature()` API to accept destroy callback, i.e.:
[code]

[2019-07-12 15:40] ftanuma opened #51 "Flushing API for file_dump_listener"
In some situation, I would like to trigger flushing all the data so far in file_dump_listener. By looking at current implementation, listener doesn't flush until its buffer is full.

It would be great if there is an API to trigger flushing.
Thanks!

[2019-07-13 12:33] loganek commented on #51
@ftanuma thanks for the report. The API has been implemented in 6a0420d95fb341010cae97911804ddc331ec4f38

[2019-07-13 12:33] #51 closed

[2019-07-30 03:14] QiAnXinCodeSafe opened #52 "Endless loop"
https://github.com/amzn/hawktracer/blob/6a0420d95fb341010cae97911804ddc331ec4f38/lib/listener_buffer.c#L80

for loop lacks the third conditional expression， can make endless loop

[2019-08-13 06:38] #52 closed

[2019-08-14 03:27] QiAnXinCodeSafe opened #53 "The return value of 'sscanf()' should be checked"
https://github.com/amzn/hawktracer/blob/6a0420d95fb341010cae97911804ddc331ec4f38/lib/platform/linux/cpu_usage.c#L56

The return value of 'sscanf()' should be checked  before continuing to execute the program

[2019-08-16 11:35] loganek commented on #53
Thanks for the report, the issue has been fixed in fd754b40260a9a03aacae9c43204c3235ba92e0e

[2019-08-16 11:35] #53 closed

[2019-09-24 22:22] ftanuma opened #55 "ID for Timeline"
Hi,

It would be great if I can use multiple timelines from the same thread, and distinguish when the data is converted to .httrace and see it on Chrome tracing tool.

It looks that event->thread_id is used to map a timeline to a tid in httrace, but for this use case, we probably need ID for timeline itself and use it for tid.

Thanks!

[2019-09-24 22:31] ftanuma opened #56 "custom configuration for global timeline creation"
Hi,

ht_global_timeline_get() makes it easy to use different timeline per thread, but we cannot use different configuration to create it. For example, we cannot pass larger(or smaller) buffer size.

Also, it makes a bit tricky to set up a same listener for all the global timelines. For example, if a threads are created in modules that doesn't have central manager that knows those threads, one way

[2019-10-12 22:39] loganek commented on #56
Hi @ftanuma , thanks for your report.
Regarding global timeline's configuration - it's not implemented but that was one of the purpose of having `argc` and `argv` parameters in `ht_init` method - would it be sufficient for you to pass global timeline parameters through that function? It'd be something like:
[code]

For setting up the same listener for all global timelines, you only need to set it

[2019-10-26 16:40] ftanuma commented on #56
Hi @loganek , sorry for late response.

Regarding the configuration, yes argc/argv would work.

Regarding the listener, you are right. I was manually creating each timeline by ht_timeline_create() and I didn't notice that the 4th parameter(const char* listeners) is the key for same listener. So I was passing different names.
Now if I specify same const char*, it uses same listener for subsequently

[2019-10-26 16:48] ftanuma opened #59 "ht_timeline_flush is not thread safe"
I just realized that ht_timeline_flush() is not a thread safe API even if we specify true for HT_Boolean thread_safe parameter in ht_timeline_create().

If it is design or limitation, it is fine but it would be great if there is good documentation about what  "thread_safe" for ht_timeline_create() covers.

As a side note, I discovered this when I tried to call ht_timeline_flush() for each timeline

[2019-10-30 20:05] loganek commented on #59
Thanks for the report. This behaviour is definitely not by design - `ht_timeline_flush()` should be thread safe when `thread_safe` flag is enabled (otherwise, the function is not thread safe).
I've commited the fix to the master branch.

Btw. Did you observe the bug by using one of the listeners in hawktracer core? All of them are thread-safe by themselves, so even though `ht_timeline_flush()` had

[2019-11-05 22:52] ftanuma commented on #59
I just discovered this while I was running my app with TSAN.

At that time, I was doing like this.
// sudo code
for (auto timeline: allTimelines) {
  ht_timeline_flush(timeline);
}
listener->flush();

This was to make sure all the remaining data in each timeline will be flushed to listener before I flush the listener. Then I realized that if I change the buffer size of timeline to 0, the event dat

[2019-11-09 15:01] loganek commented on #59
OK, thanks for clarifications. I'm resolving the issue, as `ht_timeline_flush()` is thread-safe now.

[2019-11-09 15:01] #59 closed

[2019-11-09 16:56] loganek commented on #56
Hi @ftanuma
I just merged the change. You can set buffer size of the global timeline by calling `ht_init` with command line special argument:

[code]
Feel free to re-open the ticket if there's anything else you need for this feature, or open a new issue if you have more feature requests.

[2019-11-09 16:56] #56 closed

[2019-11-09 18:18] loganek commented on #55
Hi @ftanuma
Adding identifier for a timeline would require some architectural changes which I'd like to avoid 0.x major version. I might consider that change for HawkTracer v1.x (not sure though), but for now, we could provide a feature for merging streams in the converter with labels, so each of your timeline (within one thread) could have different listeners and stream tracepoints e.g. to differ

[2019-11-13 03:59] ftanuma commented on #56
Hi @loganek,

Thank you for implementing this. This made our implementation a lot simpler!

Btw, I haven't tested but there might be issue with ht_init(). ht_init() and ht_deinit() seems to allow us to call multiple times. What happens if I do,

`const char* args[] = {"your-app", "--ht-global-timeline-buffer-size", "0"};
ht_init(sizeof(args)/sizeof(args[0]), (char**)args);`

then some other module

[2019-11-13 04:02] ftanuma commented on #55
Hi @loganek,

Yes. merging multiple trace files offline is a reasonable option :)
Thank you for considering!

[2019-11-14 09:27] loganek commented on #56
@ftanuma
buffer size is set only if `--ht-global-timeline-buffer-size` flag is specified, so if your first call of `ht_init` specifies buffer size parameter (e.g. buffer_size=X), and the second call does not, the buffer size remains unchanged (i.e. it will still be X).
One thing to keep in mind is that this setting only affects new instances of global timeline, so if you already have an instance o

[2019-11-14 14:54] yak32 opened #63 "hawktracer didn't work for me when I tried to connect from the client"
used this command line on my mac to start client:
./hawktracer-converter --source 127.0.0.1:5443 --map ./nativetracepoints.map

server-side hawktracer was launched on the same mac

[2019-11-22 02:00] ftanuma commented on #56
@loganek Thank you for clarification.

[2019-11-22 15:25] loganek commented on #63
@yak32 thanks for the report. Could you please clarify what behaviour do you observe? What's the output of the `hawktracer-converter`

[2019-11-25 10:55] yak32 commented on #63
I've tried to connect to hawktracer on the app side from hawktracer-converter, hawktracer-converter printed first 2 initial log lines, but not ENTER to save traces. Both were on the same machine, my mac laptop .

[2019-11-26 17:13] lu-zero opened #64 "Strage lock corruption on macOS when used from rust and rayon"
Follow up from https://github.com/AlexEne/rust_hawktracer/issues/25

Reproduction steps:

[code]

It randomly crashes on close. You may want to use content with smaller resolution.

[2019-11-27 11:50] loganek commented on #64
Thanks for the report. I looked at rust hawktracer code, and I think there might be a bug in the bindings.
According to the example, listener gets dropped at the end of the main function, but there might be some other threads running and using the listener. So the proper fix would be to detach the listener from the timeline just before dropping it.
I'll post the comment on the other ticket and hel

[2019-12-08 11:52] lu-zero opened #65 "amalgamate.py fails with a encoding/decoding error"
[code]

[code]
On bb3a3ac881180db0e265619dfd8410928fc6be6c

[2019-12-08 14:35] loganek commented on #65
Thanks @lu-zero for the report. I've checked on my environment and couldn't reproduce the issue. Could you please provide more details about the operating system you're running the command on?
Also, could you try the following command in your `.build` directory and see if the result is the same?
[code]
Thank you

[2019-12-08 14:38] lu-zero commented on #65
I doublechecked and the problem is that apparently if your locale is POSIX and not POSIX.utf-8 the read-file-by-line iterator crashes horribly.

The workaround is to set a `POSIX.utf-8` locale.

[2019-12-17 21:42] loganek commented on #65
The real problem was that in the source code we had non-ascii characters (0xe2) which shouldn't be there. I removed them and the script works fine even with `POSIX` locale.
@lu-zero again thanks a lot for the report, and sorry for inconvenience

[2019-12-17 21:42] #65 closed

[2020-01-14 22:33] loganek commented on #64
@lu-zero sorry for the late response. Could you recall what version of rust_hawktracer did you use to reproduce the problem?

[2020-01-15 11:44] lu-zero commented on #64
I managed to reproduce it again with the `0.6.0` release today. It took me few tries to get there =/

[2020-01-15 23:19] loganek commented on #64
@lu-zero thanks for the information, and I totally understand your frustration. I was just trying to reproduce the failure by following your reproduction steps, but the code failed to compile:
[code]
I'd be grateful if you could help me compiling the project so I could reproduce the issue and collect all the data I need for fixing it.
Many thanks!

[2020-01-16 22:21] loganek commented on #64
@lu-zero I'm very sorry to hear that. I've tried to reproduce the bug by following your steps (I executed it 200 times) and didn't manage to reproduce the problem. Did you by any chance manage to get core dumps of any of those failures?
Also, I looked at your code and have a question that could help diagnose the issue; does `_listener` variable in `rav1e.rs` file outlives all the other threads exc

[2020-01-20 09:14] loganek commented on #64
@lu-zero I found a bug based on analyzing the code and managed to easily reproduce it by adding a few sleeps in the code. The fix is already in master (https://github.com/amzn/hawktracer/commit/ea9780ddcab8c7cab08e32f95f2c9a894a270b25) and in the [latest release (0.10.0)](https://github.com/amzn/hawktracer/releases/tag/v0.10.0).
Unfortunately, it also requires some changes in rust bindings, so I'v

[2020-01-20 09:44] lu-zero commented on #64
Thank you a lot! Sorry for not being responsive last week, it had been a bit too hectic =/

[2020-01-24 10:07] loganek commented on #16
This has already been implemented in 37f2266bad2a50dc7486f4bdccaf7a5c09d63fb2

[2020-01-24 10:07] #16 closed

[2020-01-24 10:10] loganek commented on #64
The fix has been released. rust_hawktracer will pull this change in v0.7.

[2020-01-24 10:10] #64 closed

[2020-02-02 13:23] windelbouwman opened #66 "Friendly complementary project"
Hi,

Thanks for the talk at fosdem! Interesting stuff. This might be interesting as a visualization tool for incoming data:

https://github.com/windelbouwman/lognplot

- Windel

[2020-03-20 08:18] osvillalon commented on #55
Hi @loganek,

I have been trying to find the option to merge multiple trace files offline by using the converter.  Is that feature already available?
Thanks in advance

[2020-03-23 22:09] loganek commented on #55
@osvillalon sorry for late reply. Unfortunately the feature is not available yet. I'll try to work on that over the upcoming weekend.

[2020-04-11 11:17] andreasbuhr opened #68 "GitHub Projects feature seems abandoned, remove?"
The "Projects" feature of Github suggests that there is an ongoing project to release Hawktracer 0.6.0. As we are already on version 0.10.0, I guess the "Projects" feature is not used any more. I'd suggest to remove the "Release 0.6.0" project.

[2020-04-11 11:42] andreasbuhr opened #69 "Callgrind converter has the whole call stack in the function name, intended?"
When running the example from the www.hawktracer.org landing page and converting the result to Callgrind format, each function name has the complete callstack in its name. For example the function foo(), called by bar(), is named "foo()'bar()", see the screenshot. Is this intentionally?

![screen](https://user-images.githubusercontent.com/3892222/79042672-f7a3c600-7bf9-11ea-9455-84003b57d164.png)

[2020-04-11 13:10] andreasbuhr opened #70 "CMake-external-project integration may not work for C projects"
It seems to me the cmake-external-project integration only works with C++ projects. With a C project, I get linker errors like

`event_id_provider.cpp:(.text+0x1c): undefined reference to `__cxa_guard_acquire'`

To reproduce, take this example project, rename the main.cpp to main.c, change CMakeLists.txt to reflect this change and build.
https://github.com/amzn/hawktracer/tree/f0c28d2f525a3674526d

[2020-04-11 13:34] andreasbuhr opened #71 "Hawktracer on PyPi still on version 0.6.0"
Hi, when doing a `pip install hawktracer` one still gets the 0.6.0 version, see https://pypi.org/project/HawkTracer/ . An update there would be nice.

[2020-04-12 18:07] andreasbuhr opened #72 "Website landing page uses deprecated macro"
The landing page on www.hawktracer.org showcases the use of deprecated macro HT_TP_G_FUNCTION

[2020-04-12 20:11] andreasbuhr commented on #71
After talking to Marcin, I'm working on this now.

[2020-04-12 21:07] andreasbuhr opened #73 "How to use HawkTracer without an OS"
I would like to use HawkTracer without an operating system, so without any threads. I am targeting an ARM Cortex-M7 microcontroller. At the moment, there is always some way of threading necessary. It would be great if it was possible to configure some build configuration variable like "HT_NO_THREADING" or similar to remove all threading related parts from the library.

[2020-04-13 15:41] loganek commented on #73
@andreasbuhr thank you for the request. I considered this feature a while ago, but due to lack of time and no real usecase I decided to postpone it. I'll put some priority on that feature and try work on that in the upcoming weeks, will keep you updated here.

Just for you to know, I'm going to only disable threading optionally, but HawkTracer will still require libc to build. Dropping libc depend

[2020-04-13 18:48] andreasbuhr commented on #73
That's great to hear, thank you so much. Would be great to see HawkTracer running on an ATmega. Let me know if I can be of any help.

[2020-04-14 22:09] loganek commented on #72
Thank you for reporting that. The website has been updated.

[2020-04-14 22:09] #72 closed

[2020-04-17 16:12] loganek commented on #73
@andreasbuhr I've pushed changes to `mkolny/optional-threads` branch. To configure the project, run:
[code]
Optionally you can disable client (`-DENABLE_CLIENT=OFF`) and tests (`-DENABLE_TESTS=OFF`) as I assume you build it with your custom toolchain (`-DCMAKE_TOOLCHAIN_FILE`).

If you use amalgamated file (hawktracer.c or hawktracer.cpp) you need make sure the `HT_ENABLE_THREADS` and `HT_USE_PTHR

[2020-04-17 22:31] loganek commented on #70
@andreasbuhr thanks for the report.
The build is failing because the application is not being linked to standard c++ library. There are 2 potential fixes for that:
* set `HT_BUILD_STATIC` to `OFF` so the library is not needed for linking and is only needed for runtime
* link the example with libstdc++:
[code]

This is by design and I don't think we should be changing anything in HawkTracer. Howeve

[2020-04-18 08:13] andreasbuhr commented on #70
Thanks a lot for looking into this and providing two solutions. I somehow assumed that HawkTracer would work with pure C projects, without any C++ involved anywhere.
Thanks again, I'll go ahead and close this issue.

[2020-04-18 11:05] andreasbuhr commented on #73
Hi Marcin, wow, that's great! Thank you so much. I just tried compiling the code in https://ide.mbed.com, there are a few issues remaining. If you want me to I could have a look at these next weekend.

The errors I encountered (line numbers might be slightly off)
Error: Identifier "SIZE_MAX" is undefined in "hawktracer.cpp", Line: 1782, Col: 68
Error: Identifier "INT32_MAX" is undefined in "hawktr

[2020-04-20 22:21] loganek commented on #73
@andreasbuhr Thank you for testing it. The first two issues are general problems, not related to threading itself - we've missed including a `stdint.h` file where those two macros are defined (and it's OK to include them, as they're part of c99 standard which is the minimum HawkTracer requirement).

The `HT_THREAD_LOCAL` one was my miss when implementing the support for optional threading - it's d

[2020-04-20 22:33] loganek commented on #70
OK, I think I've misunderstood you. HawkTracer indeed can be compiled just using the C compiler, however, that method is only supported when compiling the amalgamated `hawktracer.c` file.
The reason why it's not possible to do it with CMake, is because some of the C code is written in .cpp file and ifdef'ed for C++ (e.g. `global_timeline.cpp`) - the extension makes CMake think that this is C++ fil

[2020-04-24 10:45] andreasbuhr commented on #73
Hi, thanks for your work. I tested it again and the errors about SIZE_MAX not being defined persist. Including stdint.h or cstdint does not help. I think it is a problem with the ide.mbed.com toolchain. I opened a thread in their forum to ask for help:
https://forums.mbed.com/t/size-max-not-defined-when-using-online-compiler/8173
I'll keep this issue here updated.

[2020-04-27 21:40] loganek commented on #73
Thanks for the update. Looks like the thread is silent for now - if you don't get any response within a week, I think we could also workaround it in HawkTracer (I don't think `SIZE_MAX` is actually needed, and `INT32_MAX` can easily be defined as it's platform-independent constant).

[2020-05-01 08:32] loganek commented on #73
I didn't see any response on the mbed thread, so I've predefined the problematic constants in HawkTracer. @andreasbuhr could you please test the branch one more time with the recent changes?
Many thanks!

[2020-05-01 10:51] gtalis opened #75 "How to handle amalgamated libraries when building library statically"
I have used your library in one of my projects and now I am trying to integrate it into the buildroot (https://buildroot.org) build system.
Everything works fine apart from the amalgamated libraries: they are built as shared libraries even though the main library is compiled statically.
When the project is cross-compiled using a full static toolchain with no support for shared libraries, the amalg

[2020-05-01 13:20] andreasbuhr commented on #73
Great, thanks a lot for your effort.
It works now.

What I did:
I configured with
```cmake -DENABLE_THREADS=OFF -DENABLE_TCP_LISTENER=OFF -DENABLE_CLIENT=OFF -DENABLE_TESTS=OFF```
then copied the amalgamated h/cpp files to the project, uncommented ```#define HT_MONOTONIC_CLOCK_IMPL_CUSTOM``` in ht_config.h.
Then I implemented ht_monotonic_clock_get_timestamp.

Great!

[2020-05-01 14:33] loganek commented on #70
I've addressed the problem in https://github.com/amzn/hawktracer/commit/722607722cbb3edd86d0363b22995303ea6e1378
I added `FORCE_C_COMPILATION` flag so when it's set to `ON`, cmake uses C compiler.

@andreasbuhr feel free to re-open the issue if you have any other questions regarding this feature.

[2020-05-01 14:33] #70 closed

[2020-05-01 18:46] andreasbuhr commented on #75
Thanks for your effort to integrate HawkTracer into buildroot.
The purpose of the amalgamated libraries is mainly the generation of a hawktracer.h and a hawktracer.{c|cpp} file wherein all files of the HawkTracer libraries are blended together. Have a look at the generated hawktracer.cpp in your build directory to understand how it works. Using these files, it is easy to add HawkTracer to a projec

[2020-05-02 12:31] gtalis commented on #75
Hello Andreas,
yes, it does make sense. Thanks for the feedback and clear explanation.
Could we think of making the amalgamation step conditional using a cmake option?
If you are ok with this idea, I can send a pull request with the amalgamation option, set on ON by default.
thanks!
Gilles.

[2020-05-05 23:11] loganek commented on #75
Hi @gtalis
I think having the step optional make sense.
Just out of curiosity, what was the error you experienced? Even though we make the step optional, I think the build shouldn't be failing, so it'd be good to investigate that failure.

Many thanks for your support :)

[2020-05-08 10:15] gtalis commented on #75
Hello,
I have attached the build failure. One of the compliance tests required to push a new package into buildroot is to build that package using different toolchains. Some of these toolchains only support static libraries, not shared libraries. **Obviously, using such a toolchain is a rare case**,but it often allows detecting compilation errors around static linking of libraries.
[logfile.txt](h

[2020-05-10 13:38] loganek commented on #73
The change has been merged. Thank you @andreasbuhr for help with testing! Feel free to re-open the issue or open a new one if you experience any problems with that feature.

[2020-05-10 13:38] #73 closed

[2020-05-10 13:48] loganek commented on #75
@gtalis thanks a lot for your change. After looking at the logs I understood what the problem is.
I think there's nothing wrong with having amalgamated build optional, but I think we could actually bring more value if we actually run it for every build. However, to address the issue you experienced, we could consider changing the amalgamation build to be dependent on `BUILD_STATIC_LIB`.
We already

[2020-05-10 18:55] loganek commented on #68
That's right, project 0.6.0 is already released, and can be removed.

[2020-05-10 18:55] #68 closed

[2020-05-10 20:45] loganek commented on #55
@osvillalon @ftanuma sorry it took me soo long to look into that. I've prototyped a first version of merging multiple streams into one in the [loganek/multi-stream-client](https://github.com/amzn/hawktracer/tree/loganek/multi-stream-client) branch. The basic usage is:
[code]
As you can see, there are 3 changes:
* `source` parameter takes a coma-separated list of streams (in this case, 2 files: `mu

[2020-05-11 17:11] gtalis commented on #75
@loganek, thanks for your reply. Actually, your suggestion was the first one I had thought of, but I did not know if that would meet your needs or break something else in the package. Let me go ahead and make that change then re-submit my pull request. Thanks for the review!

[2020-05-12 20:39] loganek commented on #75
Thank you @gtalis Also, could you please tell us how can we track the work you do for integrating hawktracer to buildroot? We'd like to make the announcement for HawkTracer's community once the work is done:) Thanks

[2020-05-14 19:37] loganek commented on #66
@windelbouwman sorry for late reply.
The project looks really cool, and the performance seems very promising. I see that your DataBase object (TsDB) supports time-integer pair of values; Do you think it'd be possible to extend that so the DB can handle unstructured data? HawkTracer event is user-defined data structure, so I'm just curious if your library would be able to handle it.

[2020-05-14 20:15] windelbouwman commented on #66
No problemo! The TSDB is all in memory, so it might even be more a simple data structure, and it supports timestamp / f64 pairs as well as timestamp / string pairs. I guess you could always convert the data to a string as a catch all case?

[2020-05-15 08:13] loganek commented on #66
Thanks for the response. HawkTracer events are more like JSON structures, and we'd like to be able to render some of the fields on the graph. E.g. we can have event like:
[code]
and we'd like to use `timestamp` as the timestamp in the graph, and we'd like to be able to choose which field will be visualized on the graph (`cpu_usage`, `mem_usage`, or both). If I serialize the whole event as a string

[2020-05-15 12:30] windelbouwman commented on #66
Okay, now I understand what you mean by structured format. No, lognplot cannot handle this directly, the simplest solution to this would be to write a python adapter script which takes in this format and forwards it to the lognplot GUI. Take a look for example at this MQTT adapter script: https://github.com/windelbouwman/lognplot/blob/master/adapters/mqtt_adapter.py

For now, I deliberately kept t

[2020-05-16 14:22] gtalis commented on #75
@loganek, I have submitted a pull request following your suggestion of building amalgamated libs with same type as hawktracer lib. Whilst testing the patch, I bumped into a new error further down the road, reported by the buildroot test suite. I am currently checking it and will open a new issue if required. Thanks!

[2020-05-17 11:35] loganek commented on #75
@gtalis thank you. The PR looked great so I merged it. I'm closing this issue as it seems to be resolved. Feel free to open a new one if you find another problem; also please keep us updated about the progress of integrating HawkTracer to build root, really looking forward to see it!

[2020-05-17 11:35] #75 closed

[2020-05-17 11:59] loganek commented on #66
@windelbouwman thanks for explanation. I don't think there's any particular benefit of supporting unstructured data in the TSDB other than simplicity, but I see that having adapter for that would completely solve the problem.
Would you be interested in building some kind of proof of concept integration of lognplot with HawkTracer? If that works well, we could then start thinking of having a simple

[2020-05-17 12:41] gtalis opened #78 "Track buildroot integration"
This issue is used to track the progress of the integration of the tool within buildroot.
Patch was sent to mailing-list (next branch). Will be closed when integrated in mainline:
http://patchwork.ozlabs.org/project/buildroot/patch/20200517123726.81405-1-gilles.talis@gmail.com/

[2020-05-17 14:17] windelbouwman commented on #66
That would be an interesting idea. Currently my incentive is low, since I do not use hawktracer yet. My approach would be to take the hello world example, run the demo, and then collect the data as a json stream.

My question here would be: is there a mechanism to convert the binary stream to json while the stream is live? Of is this only possible as a post processing batch operation?

The idea wo

[2020-05-17 21:29] loganek commented on #66
Even though you don't use HawkTracer yet, I think it'd be valuable for the lognplot project to do the integration as it might bring quite a few new users to the project (at the moment HawkTracer does not have 1st class UI integraiton at all, so I'm sure many users, including myself, would like to try it out).

There's a python example for reading HawkTracer stream and convert it to python dictiona

[2020-05-18 06:43] windelbouwman commented on #66
Allright, this example looks straight forward, and I know how to hook it up to lognplot GUI. This seems rather easy to take the applicable parts of the plot-events.py and the mqtt-adapter.py scripts.

[2020-05-18 18:55] windelbouwman commented on #66
Okay, a first prototype is here:

https://github.com/amzn/hawktracer/pull/79

Things to note:
- I used the hello-world-c example, and added a tcp listener like this `ht_tcp_listener_register( ht_global_timeline_get(), 9876, 2048, &error_code);`.

Not all events are handled, so there might be more interesting events.

![hawktracer_hello_world](https://user-images.githubusercontent.com/1816500/82249

[2020-05-22 09:31] loganek commented on #66
That looks great, thanks for that!
I'll have a look closer into the integration soon and update the issue then :)

[2020-05-24 12:20] loganek commented on #66
@windelbouwman I've looked closer into the project; am I right that python and rust are 2 completely separate implementations? Somehow I assumed that the python lognplot is just a wrapper for Rust, but from what I see in the source code, it's not. What's the reason of having 2 separate implementations rather than having a binding layer in Python?
Did you measure the performance of both implementat

[2020-05-24 12:42] windelbouwman commented on #66
Hi, yes, it's two fully redundant implementations. The python version lends itself for experiments, but is many times slower. I did not benchmark this, but my advice is to use the rust variant, since it has more performance and contains less bugs.

[2020-05-24 13:41] loganek commented on #66
Thanks
I've been trying to compile rust project, but I'm getting an error:
[code]
I use latest stable rust compiler (`rustc 1.43.1 (8d69840ab 2020-05-04)`); should I use any specific version to build the project?

[2020-05-24 14:28] loganek commented on #71
@andreasbuhr I'm not sure if you had a chance to look into this; I just found the [manylinux](https://github.com/pypa/manylinux) project which seems to help to build wheels packages for various python versions on different Linux platforms.
Probably worth looking closer to it, and maybe have a script (similar to [example script](https://github.com/pypa/python-manylinux-demo/blob/master/travis/build

[2020-05-24 14:46] windelbouwman commented on #66
Okay, this is interesting, the project should compile well. This might be caused by the fact that there is no `Cargo.lock` in the repository. Last time I faced this issue, it was a versioning issue of `ndarray` used in the `hdf5` package. Which versions of hdf5 and ndarray do you use?

Latest rust version should be good.

[2020-05-24 14:55] andreasbuhr commented on #71
Hi @loganek, it's still on my stack, but so far I did not find the time. I've seen many python packages using manylinux, so I think it would be the way to go. I think it would be a good idea to include wheel generation in the Travis pipeline.

[2020-05-24 15:47] loganek commented on #66
Thanks,
I use hd25 version 0.6.1 and have 2 versions of ndarray: 0.12.1 and 0.13.1

[2020-05-24 17:01] windelbouwman commented on #66
Okay, that explains. Please update the lognplotgtk/Cargo.toml file to use ndarray 0.13 instead of 0.12, that should fix the issue.

[2020-05-24 17:17] loganek commented on #66
That worked, thanks!
I slightly modified the example so I could see values from different event types:
[code]

but that gave me a bit unexpected result; in the UI, instead of aggregating all the fields into the same label, there's a lot of duplicated labels with `_BACKUP_*` suffixes. Is that by design? Or I misuse the library?

[2020-05-24 17:31] windelbouwman commented on #66
The `_BACKUP_` labels are given when a trace receives a new data point with a timestamp earlier than the last data point in the trace. This was done to ensure that new data always has a later timestamp, or it must be a new signal, so the old trace is backed up. In other words, please check the timestamp value, and that the timestamp values are monotonically increasing.

[2020-05-24 18:32] loganek commented on #66
I see, thanks for the explanation.
Is this feature configurable? In quite common scenario, HawkTracer creates per-thread buffers to avoid unnecessary locking, and those buffers might be flushed in different times (e.g. when one thread is more active, it might flush the buffer several times, while the less-active threda might only flush the buffer at the end of the program) - so in this case, we wo

[2020-05-24 19:12] windelbouwman commented on #66
Ah, that's interesting. For now for sure, the best fixing place would be in de adapter script in the pull request, simply ignoring events at an earlier time. The internal data structure of lognplot expects monotonically increasing timestamps for subsequent events, and this is not something that will change probably.

[2020-05-24 19:19] loganek commented on #66
I'm afraid this issue will be a blocker for integrating HawkTracer with the lognplot library as multi-threaded environment is quite a common usecase for the profiler, and ignoring some events comes with some implications:
* we have to keep track of timestamp per event field for the latest datapoint, so we can ignore invalid events - this complicates implementation a bit, but I think it's not a big

[2020-05-24 19:25] windelbouwman commented on #66
The main reason is performance, since the data is appended in increasing time, a quick query can be made on intervals. This is one of the reasons why you are able to smoothly zoom / pan data sets with millions of points. This, combined with the fact that events occur at increasing timestamps (after one another) led to the current implementation.

I don't think discarding data is a good idea, all e

[2020-05-25 09:59] loganek commented on #66
Events are timestamped when the event happens in the system, not when the buffer gets flushed

Monotonic clock is used for internal implementation and timestamping events, but users (if they really want to) can override the timestamp and e.g. for specific group of events can use different clocks.

Yes, different threads can emit the same type of event (e.g. function `foo()` can be called in thread

[2020-05-26 12:42] andreasbuhr commented on #71
What operating systems and what Python versions do we want to provide binaries for?
I'd propose Windows and Linux, Python 2 and Python 3. @loganek what do you think?

[2020-05-26 15:00] loganek commented on #71
@andreasbuhr thanks for getting back. I think supporting Python 3 and Linux would be a priority, but long term I see us supporting Windows and macOS as well. Not sure whether python2 is needed though; this is already a deprecated version. If supporting python2 requires extra effort on our side, I'd recommend not doing it; if we can get that support for free though, I think it's ok to have that :)

[2020-05-26 20:05] windelbouwman commented on #66
This is great news, so events will have increasing timestamps!

So one solution would be to include the thread ID in the name of the event, as a sort of prefix? Or would this only work when users explicitly attach the thread ID?

Agreed, this API should remain flexible.

Sure, I guess this could be added, but for the moment being I would rather implement this logic in the adapter script. My propos

[2020-05-26 21:48] loganek commented on #66
User has the flexibility to attach the thread (or not). Also, even if user decides to attach the thread, it's up to the user to come up with the field name (it doesn't have to be always `thread_id`).

No, actually it doesn't even have to be multithreaded demo. If you consider the following example:
[code]
In this case, HawkTracer generates 2 events (one for measuring scope of bar, and one for foo)

[2020-05-27 13:42] windelbouwman commented on #66
Aw snap, I understand the problem now. So the issue is, an event can be received with a timestamp much longer ago, since the timestamp will be of the start event. The value of the event will be the duration of that event, say the function call. One solution would be as you suggest, emit a start event and a stop event for functions. Another option would be to take the timestamp of the function end

[2020-10-03 16:55] AlexEne opened #81 "Dynamic tracepoints mapping not found"
Hello,

I'm trying to get dynamic tracepoints to work and it seems I can't capture the dynamic tracepoints correctly by connecting through TCP (tried with `v10.0` and `master` branch).

I am calling in order something along the lines of:

[code]

hawktracer-converter prints: `Cannot find mapping for label` for all labels that are dynamic.

Extra details:
* I am connecting `hawktracer-converter` **

[2020-10-04 10:22] AlexEne commented on #81
After some investigation it seems things work if the client is connected when `ht_feature_cached_string_add_mapping_dynamic` is called.

[2020-10-04 17:15] loganek commented on #78
@gtalis is there any progress on that? Many thanks :)

[2020-10-04 17:21] loganek commented on #81
Hi @AlexEne indeed, mapping is automatically being pushed to the listener only if it's created after creating the listener. The recommendation is to call `ht_feature_cached_string_push_map(ht_global_timeline_get())` just after your client gets connected. Please note it's safe to call `ht_feature_cached_string_push_map` multiple times for the same timeline (in case you have more than one client), a

[2020-10-04 17:43] loganek commented on #81
The documentation is updated for [master branch](https://www.hawktracer.org/doc/master/feature__cached__string_8h.html#a4cd8161a87508115767de52a6976afb8)
Commit: https://github.com/amzn/hawktracer/commit/c2dcd1ac4b08c1d6ce3d4978dcd63aa1616bb5ae

I'm closing the issue for now, but please don't hesitate to reopen it if you have more questions. Also, feel free to open a new issue if you experience an

[2020-10-04 17:44] #81 closed

[2020-10-18 11:33] nikhilkotian22 commented on #15
Is it fair to say that the current test coverage is limited to `CallGraph` in the client? I was thinking of picking this up.

[2020-10-18 13:52] loganek commented on #15
@nikhilkotian22 I think it's fair to slightly de-scope this ticket and say it's really about covering ChromeTraceConverter with tests. I'm glad you consider picking this up, please let me know if you need any further assistance.

[2020-10-22 19:48] nikhilkotian22 commented on #15
* Do you also have an example of the expected events input to the trace output? Let's start with a known data initially and keep increasing later on?

* Do you think adding further abstractions would make sense at this point of the project? Lets says for example the `ChromeTraceConverter` is a specialisation as well as the `std::ofstream`.

[2020-10-25 12:18] loganek commented on #15
@nikhilkotian22 I think for unit-testing purposes, it's best to create instaces of [Event](https://github.com/amzn/hawktracer/blob/master/parser/include/hawktracer/parser/event.hpp) and define classes depending on your tests. We don't have any pre-defined test events, however, you might want to check [tests for parser](https://github.com/amzn/hawktracer/blob/master/tests/parser/test_event.cpp) to

[2020-11-01 15:50] nikhilkotian22 commented on #15
@loganek understood. I have made progress with tests. Will upload a PR soon. Some corner cases left.